@charset "UTF-8";
.grid-container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	width: 300px;
	margin: auto;
}
.grid-button{
	width: 100px;
	height: 100px;
	background-color: #aaaaaa;
	border: 2px solid #333;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes splashAnimation{
	0%{
		width: 100%;
		height: 100%;
	}
	100%{
		width: 200%;
		height: 110%;
	}
}
.splish{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 10px solid #6e81f5;
	background-color: transparent;
	opacity: 65%;
	animation: splashAnimation 1s forwards;
}
.splosh{
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 15px solid #6e81f5;
	background-color: transparent;
	opacity: 40%;
	animation: splashAnimation 1s forwards;
}
.sploosh{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 10px solid #6e81f5;
	background-color: transparent;
	opacity: 65%;
	animation: splashAnimation 1s forwards;
}
.drip {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: blue;
    border-radius: 50%;
    opacity: 45%;
    cursor: pointer;
}

