@charset "UTF-8";
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	width: 300px;
	margin: auto;
}
.grid-button{
	width: 100px;
	height: 100px;
	background-color: #aaaaaa;
	border: 2px solid #333;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}